*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .dd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    
} */